table {
    display: block;
    border: solid 1px bisque;
    width: 100%;
    box-sizing: content-box;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    height: 30px;
}

.header-row {
    display: table-row;
    vertical-align: inherit;
    color: black;
    background-color: lightgrey;
}
