<supernova-grid [config]="tableParam"></supernova-grid>
<!--<div class="row">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col s4">-->
                <!--<button class="waves-effect waves-light btn-small">Scan port by nmap!</button>-->
            <!--</div>-->
            <!--<div class="col s4">-->
                <!--<button class="waves-effect waves-light btn-small">Scan Login by nmblookup!</button>-->
            <!--</div>-->
            <!--<div class="col s4">-->
                <!--<button class="waves-effect waves-light btn-small">To file!</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div id="table" class="row">-->
    <!--<table>-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<td>Host</td>-->
            <!--<td>Scan Ports Update</td>-->
            <!--<td>Scan Login Update</td>-->
            <!--<td>Open Ports</td>-->
            <!--<td>Try Ports</td>-->
            <!--<td>Country</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><input type="text"></td>-->
            <!--<td><input type="text"></td>-->
            <!--<td><input type="text"></td>-->
            <!--<td><input type="text"></td>-->
            <!--<td><input type="text"></td>-->
            <!--<td><input type="text"></td>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
            <!--<td>127.0.0.1</td>-->
            <!--<td>27.05.2018</td>-->
            <!--<td>27.05.2018</td>-->
            <!--<td>3389 22 80</td>-->
            <!--<td>All</td>-->
            <!--<td>Canada</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->
