<div class="container">
    <table>
        <tr *ngFor="let util of utils | getValues">
            <td><button class="utils-button waves-effect waves-light btn-small" (click)="checkUtil('nmap')">test {{util.key}}</button></td>
            <td class="utils-result">{{util.value}}</td>
        </tr>

        <!--<tr>-->
            <!--<td><button class="utils-button waves-effect waves-light btn-small" (click)="checkUtil('nmap')">test nmap</button></td>-->
            <!--<td class="utils-result">{{utils.get('nmap')}}</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><button class="utils-button waves-effect waves-light btn-small" (click)="checkUtil('git')">test git</button></td>-->
            <!--<td class="utils-result">{{utils.get('git')}}</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><button class="utils-button waves-effect waves-light btn-small" (click)="checkUtil('dddr')">test dddr</button></td>-->
            <!--<td class="utils-result">{{utils.get('dddr')}}</td>-->
        <!--</tr>-->
    </table>
</div>
