<div id="settings" class="row">

    <div class="col s2">
        <div class="row">
            <label for="add-hosts"><h6>Added: <span> 0 </span></h6></label>
            <textarea id="add-hosts" cols="30" rows="40" #text></textarea>
        </div>
        <div class="row">
            <button class="waves-effect waves-light btn-small">Add hosts!</button>
        </div>
    </div>
    <div class="col s5">
        <table>
            <caption>Current scanning:</caption>
            <tr>
                <td>Total scanned</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Success</td>
                <td>0</td>
            </tr>
            <tr>
                <td>nmap errors</td>
                <td>0</td>
            </tr>
            <tr>
                <td>mongo errors</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Running hosts</td>
                <td>0</td>
            </tr>
        </table>
    </div>
    <div class="col s5">
        <div class="row">
            <table>
                <caption>All prev scanners:</caption>
                <tr>
                    <td>Total scanned</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Success</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Not scanned</td>
                    <td>0</td>
                </tr>
            </table>
        </div>
        <div class="row">
            <button class="waves-effect waves-light btn-small">Get Info!</button>
        </div>
    </div>
</div>
<hr>


